#adminmenu li.menu-top.toplevel_page_genius-addons-options {
    background: -webkit-linear-gradient(293deg, #f2295b 0%, #9100ff 100%) !important;
    background: -o-linear-gradient(293deg, #f2295b 0%, #9100ff 100%) !important;
    background: -ms-linear-gradient(293deg, #f2295b 0%, #9100ff 100%) !important;
    background: -moz-linear-gradient(293deg, #f2295b 0%, #9100ff 100%) !important;
    background: linear-gradient(157deg, #f2295b 0%, #9100ff 100%) !important;
    color: #fff !important;
}

#adminmenu li.menu-top.toplevel_page_genius-addons-options img {
    opacity: 1;
}

#adminmenu li.current .menu-top.toplevel_page_genius-addons-options {
    background: -webkit-linear-gradient(293deg, #f2295b 0%, #9100ff 100%) !important;
    background: -o-linear-gradient(293deg, #f2295b 0%, #9100ff 100%) !important;
    background: -ms-linear-gradient(293deg, #f2295b 0%, #9100ff 100%) !important;
    background: -moz-linear-gradient(293deg, #f2295b 0%, #9100ff 100%) !important;
    background: linear-gradient(157deg, #f2295b 0%, #9100ff 100%) !important;
}

.xg-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.xg-col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.ega-wrapper .ega-body.ui-tabs ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.ega-wrapper {
    margin-top: 20px;
    background-color: #fff;
    padding: 30px;
}

.ega-wrapper .ega-body.ui-tabs ul li {
    display: inline-block;
}

.ega-wrapper .ega-body.ui-tabs ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding: 14px 25px;
    background-color: #e6e6e6;
    color: #666;
    border-radius: 5px;
    border-top: 4px solid #9100ff;
}

.ega-wrapper .ega-body.ui-tabs ul li.ui-tabs-active a {
    background-color: #f7f7f7;
    border-top-color: #f2295b;
    color: #444;
}

.ega-wrapper .ega-body.ui-tabs ul li + li {
    margin-left: 10px;
}

.ega-wrapper .ega-body.ui-tabs ul li a:focus {
    outline: none;
    box-shadow: none;
}

.ega-wrapper .ega-tab-content {
    padding-top: 20px;
}

.ega-banner {
    background-color: #f2295b;
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 3px;
    position: relative;
    z-index: 0;
    margin-top: 30px;
}
.ega-banner .thumb img{
    width: 100%;
}
.ega-checkbox {
    margin-bottom: 10px;
}

.ega-checkbox label {
    cursor: pointer;
}

.ega-checkbox input[type='checkbox'].ega-switch-control {
    position: absolute;
    margin-left: -9999px;
}

.ega-checkbox input[type='checkbox'].ega-switch-control ~ .ega-switch-label {
    position: relative;
    display: inline-block;
    min-height: 25px;
    padding-left: 53px;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ega-checkbox input[type='checkbox'].ega-switch-control ~ .ega-switch-label:before {
    content: 'Off';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: #f2295b;
    color: #fff;
    font-size: 10px;
    text-indent: 25px;
    text-transform: uppercase;
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    font-weight: 600;
}


.ega-checkbox input[type='checkbox'].ega-switch-control ~ .ega-switch-label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 5px;
    bottom: 4px;
    width: 20px;
    height: 15px;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    color: #fff;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.ega-checkbox input[type='checkbox'].ega-switch-control:checked ~ .ega-switch-label:before {
    content: 'ON';
    background-color: #9100ff;
    color: #fff;
    text-indent: 3px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.ega-checkbox input[type='checkbox'].ega-switch-control:checked ~ .ega-switch-label:after {
    left: 28px;
}

.ega-checkbox input[type='checkbox']:disabled.ega-switch-control ~ .ega-switch-label:before {
    background-color: #e6e6e6;
    color: #444;
}

.ega-widget-box {
    width: calc(100% / 4 - 106px);
    display: inline-block;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
    padding: 20px 40px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: 50px;
    line-height: 45px;
    margin: 0 10px;
    margin-bottom: 20px;
}


.ega-widget-box .ega-label {
    font-size: 16px;
    font-weight: 500;
    color: #666;
    display: inline-block;
}

.ega-widget-box .ega-pro-badge {
    position: absolute;
    left: -31px;
    top: -1px;
    background-color: #f2295b;
    width: 80px;
    height: 20px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 9px;
    text-transform: uppercase;
    transform: rotate(-45deg);
}

.ega-widget-box .ega-checkbox {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 5px;
}

.ega-widget-box .ega-coming-soon {
    position: absolute;
    left: -28px;
    top: 10px;
    font-size: 8px;
    font-weight: 600;
    background-color: #9100ff;
    line-height: 22px;
    color: #fff;
    height: 22px;
    width: 100px;
    text-align: center;
    transform: rotate(-45deg);
}

.ega-title {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
}

.ega-header-wrap p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

.ega-header-wrap {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ega-addon-filter {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 30px !important;
    margin-left: 10px !important;
}

.ega-addon-filter li {
    display: inline-block;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    padding: 3px 10px;
    border-radius: 3px;
    color: #666;
    cursor: pointer;
    font-weight: 500;
}

.ega-addon-filter li.active {
    background-color: #f2295b;
    color: #fff;
}

.ega-right-part button {
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 500ms;
}

.ega-right-part button:hover {
    opacity: .8;
}

.ega-right-part button:focus {
    outline: none;
    box-shadow: none;
}

.ega-right-part button + button {
    margin-left: 10px;
}

.ega-right-part button.ega-enable {
    background-color: #9100ff;
}

.ega-right-part button.ega-disable {
    background-color: #f2295b;
}

.xg-doc-single-item {
    display: flex;
    align-items: center;
    padding: 3rem;
    border: 1px solid #ececec;
    border-radius: 5px;
    box-shadow: 10px 0 20px rgba(0, 0, 0, .05);
    margin-bottom: 30px;
}
.xg-body-content{
    margin-top: 60px;
}
.xg-doc-single-item .thumb{
    flex: 1;
    margin-right: 30px;
}
.xg-doc-single-item .content .title{
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}

.xg-doc-single-item .content{
    flex: 1;
}
.btn-more {
    font-size: 13px;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(-169deg, rgb(146, 113, 255) 0%, rgb(87, 37, 255) 100%);
    background-image: -ms-linear-gradient(-169deg, rgb(146, 113, 255) 0%, rgb(87, 37, 255) 100%);
    -webkit-box-shadow: 0px 14px 15px 0px rgba(0, 5, 41, 0.08);
    box-shadow: 0px 14px 15px 0px rgba(0, 5, 41, 0.08);
    color: #fff !important;
    display: inline-block;
    padding: 12px 22px;
    text-decoration: none;
    line-height: 1;
    transition: all 0.3s;
    cursor: pointer;
    user-select: none;
    margin-top: 20px;
}

.btn-more:hover {
    opacity: 0.85;
}

@media only screen and (max-width: 1366px) {
    .ega-widget-box {
        width: calc(100% / 3 - 106px);
    }
}

@media only screen and (max-width: 991px) {
    .ega-widget-box {
        width: calc(100% / 2 - 106px);
    }
}