
.xgnav-tabs{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0px;
}
.xgnav-tabs li{
    display: inline-block;
    border: 1px solid #e2e2e2;
    padding: 5px 20px;
    font-size: 16px;
    font-family: inherit;
    border-collapse: collapse;
    cursor: pointer;
    transition: .3s ease-in;
}
.xgnav-tabs li.active{
    background-color: #444;
    border-color: #444;
    color: #fff;
}

.xgtab-pane{
    display: none;
    font-size: 16px;
    line-height: 26px;
    overflow: hidden;
}
.xgtab-pane.active{
    display: block;
}

.xgtab-pane.show {
    -webkit-animation: 1s .1s fadeIn both;
    animation: 1s .1s fadeIn both;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}