/*
===================================
    genius Editor Style
===================================
*/
#elementor-panel-category-ega-widgets .elementor-element {position: relative;z-index: 0;}

.elementor-panel .elementor-element .icon .xga:after {
    position: absolute;
    top: 5px;
    right: 5px;
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../icon/menu-icon.png');
    font-size: 10px;
    opacity: .5;
}
.elementor-panel .elementor-element .icon .xga:hover:after{
    opacity: .5;
}