/*
===================================
    genius Main Style
===================================

Table Of Content
1. Global Styles
2. Button
3. Alert


*/
:root {
    --ega-primary-color: #f2295b;
    --ega-seconday-color: #9100ff;
}

/*---------------------------------
    1. Global Styles
----------------------------------*/
.ega-btn-lg {
    padding: 15px 30px !important;
}

.ega-btn-md {
    padding: 10px 20px !important;
}

.ega-btn-sm {
    padding: 5px 10px !important;
}

/*---------------------------------
    2. Button
----------------------------------*/
.ega-btn-wrapper .ega-btn .ega-btn-text {
    color: #fff;
    transition: all 500ms;
}

.ega-btn-wrapper .ega-btn-icon {
    color: #fff;
}

.ega-btn-wrapper .ega-btn {
    background-color: var(--ega-primary-color);
    transition: all 500ms;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0;
    text-transform: none;
    line-height: 1.2;
}

.ega-btn-wrapper .ega-btn:focus {
    outline: none;
}

.ega-btn-wrapper .ega-btn:hover {
    background-color: var(--ega-seconday-color);
    color: #fff;
}

.ega-btn-wrapper.ega-btn-icon-position-top .ega-btn-icon {
    display: block;
    text-align: center;
}

.ega-btn-wrapper.ega-btn-icon-position-bottom .ega-btn {
    display: flex;
    flex-direction: column-reverse;
    width: max-content;
}

.ega-btn-wrapper.ega-btn-icon-position-bottom .ega-btn-icon {
    text-align: center;
}

.ega-btn-wrapper.ega-btn-icon-position-right .ega-btn-icon {
    float: right;
}

/*---------------------------------
    3. Alert
----------------------------------*/
.ega-alert {
    position: relative;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms
}

.ega-alert-dismissible .ega-close {
    position: absolute;
    top: 50%;
    right: 10px;
    color: inherit;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.ega-alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.ega-alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.ega-alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.ega-alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.ega-alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.ega-alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.ega-alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.ega-alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.ega-alert-block-wrapper.ega-alert-block-icon-position-top .ega-alert-icon {
    display: block;
}

.ega-alert-block-wrapper.ega-alert-block-icon-position-bottom .ega-alert {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.ega-alert-block-wrapper.ega-alert-block-icon-position-right .ega-alert-icon {
    float: right;
    padding-right: 10px;
}

/*---------------------------------
Blockquote style
----------------------------------*/
.ega-wp-block-quote {
    quotes: "“" "”";
    overflow: hidden;
    margin: 30px 0;
    color: #2e3652;
    font-size: 1.125rem;
    position: relative;
    font-weight: 700;
    padding-left: 60px;
    line-height: 1.5;
}

.ega-wp-block-quote:before {
    content: open-quote;
    font-size: 5.75rem;
    line-height: 1;
    display: inline-block;
    float: left;
    margin-right: 20px;
    color: var(--main-color-one);
}

.ega-wp-block-quote cite {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 20px;
}

.appside-page-content-area blockquote cite,
.single-post-details-item .entry-content blockquote cite {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 20px;
}


/*-------------------------
    Icon Box Item
-------------------------*/

.icon-box-item {
    display: flex;
    align-items: center;
    transition: all 500ms;
    box-shadow: 0 9px 33px 0 rgba(2, 8, 53, 0.15);
    position: relative;
    z-index: 0;
    overflow: hidden;
}



.icon-box-item.badge::after{
    position: absolute;
    content: attr(data-label);
    top: 10px;
    right: -55px;
    transform: rotate(45deg);
    padding: 0.5rem;
    width: 10rem;
    background: #f2295b;
    font-size: 10px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}
.icon-box-item.top {
    display: block;
}

.icon-box-item.top[style="text-align:center"] .icon {
    margin: 0 auto;
    margin-bottom: 10px;
}

.icon-box-item.top[style="text-align:right"] .icon-wrap {
    display: flex;
    justify-content: flex-end;
}

.icon-box-item.right {
    flex-direction: row-reverse;
}

.icon-box-item.right .icon {
    margin-left: 15px;
}

.icon-box-item.left[style="text-align:left"] {
    align-items: initial;
}

.icon-box-item.left .icon {
    margin-right: 15px;
}

.icon-box-item .icon {
    width:80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    border-radius: 50%;
    transition: all 500ms;
    color: #AF59F7;
    background-color: #F5E9FF;
}

.icon-box-item .content .title {
    color: var(--heading-color);
    font-size: 20px;
    line-height: 30px;
    font-family: var(--heading-font);
    transition: all 500ms;
}

.icon-box-item .content p {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 0;
    transition: all 500ms;
}

/*-------------------------
    Contact Info Item
-------------------------*/
.single-contact-item {
    display: flex;
    align-items: center;
}

.single-contact-item .icon {
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    border-radius: 50%;
    background: #ff5e79;
    font-size: 24px;
    margin-right: 30px;
    box-shadow: 0 8px 16px 0 rgba(255, 94, 121, 0.3);
    position: relative;
    transition: all 0.3s ease-in;
}

.single-contact-item .content .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 0;
    display: block;
    color: var(--heading-color);
}

.single-contact-item .content .details {
    font-size: 16px;
    font-weight: 600;
    transition: all 500ms ease-in;
    display: block;
}

.single-contact-item .content .details:hover {
    color: var(--main-color-one);
}

.single-contact-item-02 .content {
    display: flex;
}

.single-contact-item-02 .content .icon {
    color: var(--main-color-one);
    font-size: 30px;
    margin-right: 20px;
}

.single-contact-item-02 .content .title {
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

.image-single-item {
    text-align: center;
    position: relative;
}

.image-single-item .thumb {
    width: 100%;
}

.image-single-item .thumb img {
    width: 100%;
}

.image-single-item .content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 0 45px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.image-single-item .content .title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

.image-single-item .content p {
    color: #fff;
    margin-bottom: 15px;
}

.image-single-item .content .btn-wrapper .read-btn {
    font-weight: 700;
}

.image-single-item .content .btn-wrapper .read-btn i {
    margin-left: 10px;
    font-size: 20px;
    position: relative;
    top: 3px;
}

.image-single-item:hover .content, .image-single-item.active .content {
    visibility: visible;
    opacity: 1;
    z-index: 0;
    display: flex;
    align-items: center;
    transform: scaleY(1.1);
}

.image-single-item:hover .content::after, .image-single-item.active .content::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 50, 122, 0.9);
    z-index: -1;
}

/*card-single-item*/

.card-single-item {
    position: relative;
    z-index: 0;
    text-align: left;
}

.card-single-item .thumb {
    width: 100%;
}

.card-single-item .thumb img {
    width: 100%;
}

.card-single-item .content {
    padding: 20px 20px 10px;
    background-color: #fff;
}

.card-single-item .content .title {
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
    transition: all 500ms;
    margin-bottom: 5px;
}

.card-single-item .content p {
    font-size: 14px;
    margin-bottom: 20px;
}

.card-single-item .content .readmore {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-color);
}


/*----------------------------------------------
    # Nav bar
----------------------------------------------*/

.navbar-area .responsive-mobile-menu .cross-menu-wrapper .bar1,
.navbar-area .responsive-mobile-menu .cross-menu-wrapper .bar2,
.navbar-area .responsive-mobile-menu .cross-menu-wrapper .bar3 {
    width: 30px;
    height: 1px;
    background-color: #626262;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    display: block;
}

.navbar-area .responsive-mobile-menu .cross-menu-wrapper.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    -ms-transform: rotate(-45deg) translate(-4px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}

.navbar-area .responsive-mobile-menu .cross-menu-wrapper.change .bar2 {
    opacity: 0;
}

.navbar-area .responsive-mobile-menu .cross-menu-wrapper.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -8px);
    -ms-transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}

.nav-container {
    max-width: 1200px;
}

.mobile-logo {
    display: none;
}

.custom-logo-link img, .site-logo img, .footer-logo img {
    max-width: 180px !important;
}

@media only screen and (max-width: 991px) {
    .mobile-logo {
        display: block;
    }

    .desktop-logo {
        display: none !important;
    }

    .collapse.navbar-collapse {
        display: none;
        transition: all 500ms ease-in-out;
    }

    .collapse.navbar-collapse.show {
        display: block;
    }
}

button.sub-menu-toggle,
button.navbar-toggler {
    display: none;
}

.navbar-area {
    padding: 0;
}

.navbar-toggler {
    display: none;
}

.navbar-area.navbar-absolute {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar-area.navbar-absolute .nav-container {
    background-color: transparent;
}

.navbar-area .nav-container {
    background-color: #fff;
    padding: 0 30px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-area .nav-container .nav-right-content {
    display: flex;
    align-items: center;
}

.navbar-area .nav-container .nav-right-content .btn-wrapper {
    margin-left: 10px;
}

.navbar-area .nav-container .nav-right-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 15px;
    display: flex;
}

.navbar-area .nav-container .nav-right-content ul li {
    display: inline-block;
    color: #6b93aa;
}

.navbar-area .nav-container .nav-right-content ul li a {
    color: #6b93aa;
    transition: all 0.3s ease-in;
}
.navbar-area .nav-container .nav-right-content ul .button-wrapper .boxed-btn{
    padding: 10px 25px;
    background-color: #ff5e79;
    color: #fff;
    font-size: 14px;
}
.navbar-area .nav-container .nav-right-content ul li a:hover {
    color: var(--main-color-one);
}

.navbar-area .nav-container .nav-right-content ul li a:hover i {
    color: var(--main-color-one);
}

.navbar-area .nav-container .nav-right-content ul li a i {
    color: #6b93aa;
    padding-right: 6px;
    font-weight: 800;
}

.navbar-area .nav-container .nav-right-content ul li.search {
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.navbar-area .nav-container .nav-right-content ul li.search:hover {
    color: var(--main-color-one);
}

.navbar-area .nav-container .nav-right-content ul li.nav-btn .btn-boxed {
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: var(--main-color-one);
}

.navbar-area .nav-container .nav-right-content ul li.nav-btn .btn-boxed:hover {
    background-color: var(--main-color-one);
}

.navbar-area .nav-container .navbar-brand .site-title {
    font-weight: 700;
    font-size: 30px;
    font-family: var(--heading-font);
    line-height: 90px;
    color: var(--heading-color);
}

.navbar-area .nav-container .navbar-collapse .navbar-nav {
    display: block;
    width: 100%;
    text-align: right;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 80px;
    position: relative;
    z-index: 0;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li + li {
    margin-left: 20px;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.current-menu-item a {
    color: var(--main-color-one);
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children {
    position: relative;
    z-index: 0;
    padding-right: 15px;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before {
    position: absolute;
    right: 0;
    top: 50%;
    content: '+';
    font-weight: 700;
    font-size: 14px;
    font-family: var(--body-font); /* IE 9 */ /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    transition: all 0.3s ease-in;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu {
    position: absolute;
    text-align: left;
    min-width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    left: 0;
    top: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    z-index: 9;
    border-bottom: 4px solid var(--main-color-one);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li {
    display: block;
    margin-left: 0;
    line-height: 22px;
    font-size: 14px;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li + li {
    border-top: 1px solid #e2e2e2;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a {
    display: block;
    padding: 12px 17px;
    background-color: #fff;
    white-space: nowrap;
    color: var(--paragraph-color);
    transition: all 0.3s ease-in;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a:hover {
    background-color: var(--main-color-one);
    color: #fff;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a:before {
    display: none;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children {
    position: relative;
    z-index: 0;
    padding-right: 0;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children > .sub-menu {
    left: 100%;
    top: 10px;
    margin-bottom: 0;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children > .sub-menu .sub-menu .sub-menu {
    left: auto;
    right: 100%;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children:hover > .sub-menu li:hover:before {
    color: #fff;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li a {
    transition: all 0.3s ease-in;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li a::before {
    position: absolute;
    content: '';
    left: 0;
    top: -1px;
    height: 2px;
    width: 0;
    background: var(--main-color-one);
    transition: all 0.3s ease-in;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li a::before:hover {
    color: var(--main-color-one);
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li:hover > a:before {
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .navbar-area .nav-container {
        position: relative;
        z-index: 0;
        min-height: 80px;
        padding: 40px 10px;
    }

    .navbar-area .nav-container .responsive-mobile-menu {
        display: block;
        position: relative;
        width: 100%;
    }

    .navbar-area .nav-container .responsive-mobile-menu .navbar-toggler {
        position: absolute;
        right: 0;
        padding: 10px;
        border-radius: 3px;
        top: 50%; /* IE 9 */ /* Chrome, Safari, Opera */
        transform: translateY(-50%);
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: #fff;
    }

    .navbar-area .nav-container .navbar-brand {
        display: block;
    }

    .navbar-area .nav-container .navbar-brand .navbar-toggler {
        position: absolute;
        right: 10px;
        border: 1px solid #e2e2e2;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav {
        display: block;
        margin-top: 40px;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li {
        display: block;
        text-align: left;
        line-height: 30px;
        padding: 10px 0;
        border-bottom: 1px solid rgba(17, 17, 17, 0.2);
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li:last-child {
        border-bottom: none;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li + li {
        margin-left: 0;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before {
        top: 25px;
        right: 20px;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:hover {
        padding-bottom: 0;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:hover > .sub-menu {
        visibility: visible;
        height: auto;
        opacity: 1;
        background-color: transparent;
        border-bottom: none;
        margin-top: 10px;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu {
        position: initial;
        display: block;
        width: 100%;
        border-top: none;
        box-shadow: none;
        margin-left: 0;
        padding-bottom: 0;
        visibility: hidden;
        opacity: 0;
        height: 0;
        overflow: hidden;
        max-height: 250px;
        overflow-y: scroll;
        transition: height 500ms;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .sub-menu .menu-item-has-children:before {
        content: "\f067";
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li {
        padding: 0;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li.menu-item-has-children:hover:before {
        color: #fff;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li + li {
        border-top: none;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .navbar-toggler {
        display: block;
    }
}

@media only screen and (max-width: 575px) {
    .navbar-area .nav-container {
        margin: 0 15px;
    }
}
/*Team Sinle Item*/
/*team block*/
.team-single-item-02 {
    position: relative;
    margin-bottom: 30px;
}

.team-single-item-02:hover {
    box-shadow: 0px 1px 10px 0px #00000017;
}

.team-single-item-02 .social-link {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.team-single-item-02 .social-link:hover li {
    transform: none;
    opacity: 1;
    visibility: visible;
}

.team-single-item-02 .social-link:hover li:first-child a i:before {
    content: "\f068";
    font-family: "Line Awesome Free";
}

.team-single-item-02 .social-link li {
    transition: 0.5s all;
    transform: translateY(-20px);
    opacity: 0;
    visibility: visible;
}

.team-single-item-02 .social-link li:first-child {
    transform: none;
    opacity: 1;
    visibility: visible;
}

.team-single-item-02 .social-link li:first-child:hover ~ li {
    transform: none;
    opacity: 1;
    visibility: visible;
}

.team-single-item-02 .social-link li:first-child:hover a i:before {
    content: "\f068";
    font-family: "Line Awesome Free";
}

.team-single-item-02 .thumb img {
    width: 100%;
}

.team-single-item-02 .content {
    text-align: center;
    padding: 20px 20px 10px;
}

.team-single-item-02 .content .title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 5px;
}

.team-single-item-02 .content span {
    color: var(--main-color-one);
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
}
.social-link.style-01 li {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    color: var(--heading-color);
    margin-bottom: 10px;
    font-size: 20px;
}

.social-link.style-01 li:hover {
    background-color: #ff4815;
    color: #fff;
}

.social-link.style-01 li + li {
    margin-left: 0;
}
/*Contact Form*/

.contact-page-form .form-group{
    width: 100%;
}
.contact-page-form .form-group textarea {
    max-height: 160px;
    resize: none;
    width: 100%;
}
.contact-page-form .form-group .form-control {
    border: none;
    color: var(--heading-color);
    background-clip: border-box;
    font-family: var(--body-font);
    background-color: #fff;
    border-radius: 0;
    padding: 15px 17px 15px 20px;
    margin-bottom: 25px;
    font-size: 12px;
    width: 100%;
}
.contact-page-form .form-group .form-control:focus {
    border: none;
    border-bottom: 2px solid #ff4815;
    box-shadow: none;
}
.contact-page-form .form-group .form-control::-moz-placeholder {
    color: #555555;
}
.contact-page-form .form-group .form-control:-ms-input-placeholder {
    color: #555555;
}
.contact-page-form .form-group .form-control::placeholder {
    color: #555555;
}
.contact-page-form .btn-wrapper .boxed-btn {
    font-size: 14px;
    border: none;
    width: 100%;
    text-align: center;
    transition: all 500ms ease-in-out;
}
.contact-page-form .btn-wrapper .boxed-btn:hover{
    background-color: #f2295b;
    color: #fff;
}

/*Logo slider*/
.brand-carousel-wrapper{
    margin-left: -15px;
    margin-right: -15px;
}
.brand-carousel-wrapper .slick-list .slick-slide {
    margin: 0 15px;
}

/*Button style*/