/*-----------------------
* Accordion css
-----------------------*/

.xga-accrodion .xga-accordion-heading a:after {
    position: absolute;
    right: 30px;
    top: 20px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f107";
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in; }

.xga-accrodion .xga-accordion-heading a.open:after {
    content: "\f106"; }

.xga-accrodion .xga-accordion-heading a {
    background-color: #e7eefe;
    padding: 20px 40px;
    text-decoration: none;
    display: block;
    width: 100%;
    color: #2a384c;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    position: relative; }

.xga-accrodion .xga-accordion-heading a.open {
    background-color: transparent;
    margin-bottom: 0px;
    color: #197beb;
    -webkit-box-shadow: 0px -6px 11px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -6px 11px rgba(0, 0, 0, 0.1); }

.xga-accrodion .xga-accordion-body {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .3s ease-in;
    -o-transition: max-height .3s ease-in;
    transition: max-height .3s ease-in;
    -webkit-box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.1); }

.xga-accrodion .xga-accordion-body .xga-acc-content {
    color: rgba(40, 40, 40, 0.8);
    padding: 15px 40px;
    border-top: 0;
    display: block;
    width: 100%;
    padding-top: 0; }

.xga-accrodion .xga-accordion-body.show {
    max-height: initial;
    max-height: initial;
    max-height: fit-content;
    -webkit-transition: max-height .3s ease-in;
    -o-transition: max-height .3s ease-in;
    transition: max-height .3s ease-in;
    margin-bottom: 20px; }